spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hirespherex_prod?useSSL=true&serverTimezone=UTC
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
logging:
  level:
    root: INFO
jwt:
  secret: ${JWT_SECRET}
